<section class="hero is-small">
  <div class="hero-body has-background-dark">
    <h1 class="title has-text-light">Blog | Oliver Schmitz</h1>
    <div class="columns">
      <div class="column is-four-fifths">
        <h2 class="subtitle has-text-grey">Softwaredeveloper</h2>
      </div>
      <div class="column">
        <span class="is-pulled-right">
          <a href="/feed.xml" data-tooltip="Subscribe to my RSS feed and don't miss new content!"
            target="_blank" class="tooltip is-tooltip-left has-tooltip-arrow is-tooltip-info" style="color: orange;"><i
              class="fa fa-rss" aria-hidden="true"></i></a>          
        </span>
      </div>
    </div>
  </div>
</section>