<div class="sidebar column is-2 mb-1">
    <div class="block pt-6">
        <figure class="figure">
            <span class="image">
                <a href="/about">
                    <img src="/assets/images/sidebar_olsch.jpg" alt="Oliver Schmitz">
                </a>
            </span>
            <figcaption>
                Softwaredeveloper, Softwarearchitect, Team-Leader
            </figcaption>
        </figure>
    </div>
    <div class="block buttons are-small">
        <a href="https://github.com/schmitzCatz" class="button" target="_blank">
            <span class="icon is-medium"><i class="fab fa-github"></i></span>
        </a>
        <a href="https://masto.ai/@schmitzCatz" class="button" target="_blank">
            <span class="icon is-medium"><i class="fab fa-mastodon"></i></span>
        </a>
        <a href="https://www.xing.com/profile/Oliver_Schmitz83/cv" class="button">
            <span class="icon is-medium"><i class="fab fa-xing"></i></span>
        </a>
        <a href="https://twitter.com/@schmitzCatz" class="button" target="_blank">
            <span class="icon is-medium"><i class="fab fa-twitter"></i></span>
        </a>
        <a href="/feed.xml" target="_blank" class="button">
            <span class="icon is-medium"><i class="fa fa-rss"></i></span>
        </a>
    </div>
</div>