<address class="h-card vcard media" style="font-style: normal;">
    <figure class="media-left">        
        <img class="u-photo" src="/assets/images/sidebar_olsch.jpg" alt="Profile Picture Oliver Schmitz" width="128px">                
    </figure>
    <div class="media-content">
        <div class="content">            
            <div class="p-name fn">Oliver Schmitz</div>
            <p class="p-adr h-adr">
                <div class="p-street-address">Am Pumpwerk 7</div>
                <span class="p-locality">Bochum</span>,
                <span class="p-postal-code">44879</span>
                <span class="p-country-name">Germany</span>
            </p>
            <div>
                <span class="icon">
                    <i class="fas fa-phone"></i>
                </span>
                <a class="p-tel" href="tel:+4920345296477">
                    +49203 45296477
                </a>          
            </div>
            <div>
                <span class="icon">
                    <i class="fas fa-mobile"></i>
                </span>
                <a class="p-tel" href="tel:+4917649451318">
                    +49176 49451318
                </a>          
            </div>
            <div>
                <span class="icon">
                    <i class="fas fa-at"></i>
                </span>
                <a class="u-email" href="mailto:mail@ollischmitz.net">
                    mail@ollischmitz.net
                </a>       
            </div>
            <div>
                <span class="icon">
                    <i class="fas fa-blog"></i>
                </span>
                <a class="u-url" href="http://blog.ollischmitz.net">
                    http://blog.ollischmitz.net
                </a>
            </div>
        </div>
    </div>
</address>