<!doctype html>
<html class="has-navbar-fixed-bottom has-background-white-ter">

{% include head.html %}

<body>
  <section id="head">
    <!-- Hero -->
    {% include hero.html %}
    <!-- ./Hero-->

    <!-- Navigation -->
    {% include navigation.html %}
    <!-- ./Navigation -->
  </section>

  <!-- Content -->
  <div class="content columns mt-2">
    <div class="column is-10">
      {{ content }}
    </div>
    <!-- sidebar-->
    {% include sidebar.html %}
    <!--./Sidebar-->
  </div>

  <!-- ./Content -->

  <section id="footer" class="pt-6">
    <!-- Footer -->
    {% include footer.html %}
    <!-- ./Footer -->
  </section>
</body>

</html>